<div class="container">
  <div class="jumbotron text-center">
      <h1 class="display-4" style="font-family: 'Pacifico', cursive; color: #1486ff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">About</h1>
  </div>

  <div class="row">
      <div class="col-md-8 mx-auto">
          <h2 class="mb-4" style="font-family: 'Montserrat', sans-serif; color: aliceblue;">Developer</h2>
              <li style= "color:antiquewhite"><strong> Steven Rud</strong></li>
            <p class="lead mt-4" style= "color:antiquewhite">
                Welcome to the LEGO Set Finder, your ultimate source for discovering and exploring LEGO sets from 1964 to 2021. This app provides a variety of search filters to help you locate your favorite LEGO sets and conveniently organize them into wish lists or owned lists.
            </p>
            <p class="lead mt-4" style= "color:antiquewhite">
                Whether you're a passionate LEGO collector or just enjoy building sets casually, this app allows you to keep track of the sets you own and the ones you're interested in. To utilize the wish list and owned list features, simply sign up and start saving your favorite LEGO sets.
            </p>
            <p class="lead mt-4" style= "color:antiquewhite">
                The search filters streamline the process of finding specific sets, making your LEGO shopping experience more enjoyable. Whether you're looking for a particular theme, year, name, price, or even specific set number, the app's filters ensure you find what you're looking for effortlessly.
            </p>
            <p class="lead mt-4" style= "color:antiquewhite">
                Start exploring the world of LEGO sets with the simple LEGO Set Finder app.
            </p>
      </div>
  </div>
</div>
